@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-theme: #fff;
  --dark-theme: #2b2c37;
  --light-theme-heading: #000112;
  --dark-theme-heading: #ffffff;
  --light-theme-toggler: #f4f7fd;
  --dark-theme-toggler: #20212c;
  --light-theme-border: #e4ebfa;
  --dark-theme-border: #3e3f4e;
}

body {
  font-family: 'Plus Jakarta Sans';
  background-color: #f4f7fd;
}

body:has(#switch:checked) {
  --light-theme: var(--dark-theme);
  --light-theme-heading: var(--dark-theme-heading);
  --light-theme-toggler: var(--dark-theme-toggler);
  --light-theme-border: var(--dark-theme-border);
}

.sidebar {
  background-color: var(--light-theme);
  width: 30%;
  padding: 1rem;
  position: relative;
  transition: 0.3s;
  margin-top: -20px;
  border-right: 1px solid var(--light-theme-border);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 85vh;
}

.logo {
  padding: 2rem;
}

h5 {
  color: #828fa3;
  padding: 1rem;
  letter-spacing: 2.4px;
}

.board {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.board:active {
  background-color: #635fc7;
  color: #fff;
  border-radius: 0px 100px 100px 0px;
}

.board p {
  margin-left: 20px;
  color: #828fa3;
  font-weight: 700;
  cursor: pointer;
}

.board:last-of-type p {
  color: #635fc7;
}

input[type='checkbox'] {
  position: absolute;
  left: -100%;
}

input + label {
  position: absolute;
  margin-top: 500px;
}

label {
  display: flex;
  cursor: pointer;
}

#sidebar:checked ~ .sidebar {
  transform: translateX(-100%);
}

.switch-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--light-theme-toggler);
}

.switch {
  background-color: #635fc7;
  width: 60px;
  height: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 30px;
}

.switch label {
  display: inline-flex;
  color: #ffffff;
  width: 40px;
  height: 20px;
  border-radius: 30px;
  padding: 0;
  align-items: center;
  margin-top: 0px;
  position: absolute;
  z-index: 1;
}

.switch span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.switch input[type='checkbox'] {
  position: absolute;
  top: -100%;
  left: -100%;
}

.switch input:checked + label > span {
  transform: translateX(100%);
}

@media (max-width: 600px) {
}
